MainRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Schema for "MainRequest" generated by ACTICO Rules (Build id: 8.1.6.R039) at 5/28/19 4:33 PM -->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.visual-rules.com/vrpath/BPRequest/MainRequest/" xmlns:bprequest_mainrequest="http://www.visual-rules.com/vrpath/BPRequest/MainRequest/"
  xmlns:bprequest="http://www.visual-rules.com/vrpath/BPRequest/"
  xmlns:standard_types="http://www.visual-rules.com/types/Standard%20Types/"
  elementFormDefault="qualified" attributeFormDefault="qualified">

  <import namespace="http://www.visual-rules.com/vrpath/BPRequest/" schemaLocation="../workspace/xml-schema/BPRequest.xsd"/>
  <import namespace="http://www.visual-rules.com/types/Standard%20Types/" schemaLocation="../workspace/xml-schema/standard_types.vr.xsd"/>

  <element name="input">
    <complexType>
      <sequence>
        <element nillable="true" name="Request" type="bprequest:Request"/>
      </sequence>
    </complexType>
  </element>

  <element name="output">
    <complexType>
      <sequence>
        <!-- Output data elements -->
        <element nillable="true" name="key" type="string"/>
        <element nillable="true" name="status" type="string"/>
         <!-- Actions -->
      </sequence>
    </complexType>
  </element>

</schema>
